@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
  --dark: #050505;
  --dark-blue: #183153;
  --dark-accent: #1f1f1f;
  --dark-accent-blue: #183153;

  --light: #fff;
  --light-blue: #73C0FC;
  --light-accent: #f5f5f5;
  --light-accent-blue: #d7edff;
}

body.light-mode {
  --bg-color: var(--light);
  --text-color: var(--dark);
  --main-color: var(--light-blue);
  --accent-color: var(--light-accent);
  --accent-blue: var(--light-accent-blue);
}

body.dark-mode {
  --bg-color: var(--dark);
  --text-color: var(--light);
  --main-color: var(--light-blue);
  --accent-color: var(--dark-accent);
  --accent-blue: var(--dark-accent-blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
  transition: all 0.5s;
  font-family: 'Montserrat Alternates', sans-serif;
}

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-blue);
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: var(--light-blue);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: var(--dark-blue);
}

.input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-blue);
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

/* ----------------------------- Section 1 ------------------------------ */
.section-1 {
  padding: 0 1rem;
}

.section-1 .search {
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

.section-1 .search input {
  width: 100%;
  padding: 1.2rem 1rem;
  color: var(--text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  outline: none;
}

.section-1 .search .icon {
  padding: 1.1rem;
  display: inline-block;
  position: absolute;
  right: 0;
}

.section-1 .search .icon i{
  color: var(--main-color);
}



/* ------------------------ Section 2 ------------------------- */

.section-2 {
  padding: 0 1rem 2rem 1rem;
}

.section-2 .word--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin: 1rem 0;
}

.section-2 .word--wrapper .word h1 {
  margin-bottom: .25rem;
}

.section-2 .word--wrapper .audio {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-blue);
}

.section-2 .word--wrapper .audio i {
  color: var(--main-color);
}

.section-2 .meaning--wrapper {
  color: var(--text-color);
}

.section-2 .meaning--wrapper .partofspeech {
  display: flex;
  align-items: center;
  margin: 2rem 0 0 0;
}

.section-2 .meaning--wrapper .partofspeech p {
  margin-right: .5rem;
}

.section-2 .meaning--wrapper .partofspeech span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
}

.section-2 .meaning--wrapper .meaning {
  margin: 1rem 0;
}

.section-2 .meaning--wrapper .meaning ul {
  padding: 0 1rem;
  list-style: none;
}

.section-2 .meaning--wrapper .meaning ul li::before {
  content: "\2022";
  color: var(--main-color);
  font-weight: 700;
  font-size: x-large;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.section-2 .meaning--wrapper .meaning ul li .synonyms {
  margin: .5rem 0;
}

.section-2 .meaning--wrapper .meaning ul li .synonyms .name {
  font-weight: 700;
}

.section-2 .meaning--wrapper .meaning ul li .synonyms .synonym {
  color: var(--main-color);
}

.section-2 .meaning--wrapper .meaning ul li .antonyms {
  margin: .5rem 0;
}

.section-2 .meaning--wrapper .meaning ul li .antonyms .name {
  font-weight: 700;
}

.section-2 .meaning--wrapper .meaning ul li .antonyms .antonym{
  color: var(--main-color);
}

.section-2 .meaning--wrapper .meaning ul li .sentence{
font-style: italic;
margin: .5rem 0;
}



.recent--wrapper {
  color: var(--text-color);
}

.recent--wrapper .recent {
  margin: .5rem 0;
}

.recent--wrapper .recent .name {
  font-weight: 700;
}

.recent--wrapper .recent .recent-word {
  color: var(--main-color);
}






@media screen and (min-width: 768px) {
  body{
    padding: 0 4rem;
  }  
}

@media screen and (min-width: 1024px) {
  body{
    padding: 0 8rem;
  }  
}